.icon {
	fill: var(--photo-text-colour);
	transition: all 0.2s ease-in-out;
	transition: opacity 0.25s 0.25s ease-in-out;
	position: absolute;
}

.iconSocial {
	composes: icon;
	height: 2.5rem;
	width: 2.5rem;
}

.iconNavBar {
	composes: icon;
	height: 5rem;
	width: 5rem;
}

.iconContainer {
	cursor: pointer;
	width: 2.5rem;
	height: 2.5rem;
	transition: all 0.2s ease-in-out;
	margin: 0.5rem;
}

.iconContainer:hover {
	transform: scale(1.05);
}

.iconContainer:hover .icon {
	fill: var(--accent-colour);
}

.hiddenIcon {
	opacity: 0;
	transition: opacity 0.25s 0s ease-in-out;
}
