.contact {
	composes: backgroundImage from "../project_globals.module.css";
	height: auto;
	min-height: 100vh;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 2;
	background-attachment: fixed;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url("../images/mtwellington.jpeg");
}

.contactForm {
	width: 60%;
	max-width: 600px;
	margin: auto;
	margin-top: 4rem;
	top: 50%;
}

.title {
	composes: text from "../project_globals.module.css";
	font-size: 2rem;
	text-align: center;
	margin: 0;
	padding-top: 10vh;
}

.label {
	composes: text from "../project_globals.module.css";
	margin: 0.5rem 0;
	font-size: 1.5rem;
}

.label::after {
	content: ":";
}

.inputGroup {
	width: 100%;
	padding: 0.5rem;
	display: inline-grid;
}

.textInput {
	composes: text from "../project_globals.module.css";
	width: 100%;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #ddd;
	outline: none;
	padding-bottom: 0.5rem;
	font-size: 1.25rem;
}

.submitted .textInput:invalid {
	border-bottom: 2px solid red;
}

.textInput:focus {
	border-bottom: 2px solid #43cea2;
}

.textArea {
	composes: textInput;
	position: relative;
	width: 100%;
	resize: vertical;
}

.buttonContainer {
	height: 3rem;
	width: 100%;
	margin: 1rem;
	display: flex;
	justify-content: space-around;
}

.submit {
	composes: button from "../button/button.module.css";
}
