.loadingBackground {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	background-color: var(--gradient-bottom);
}

.container {
	position: fixed;
	top: 30vh;
	width: 100vw;
}

.loadingText {
	color: var(--text-colour);
	text-align: center;
	font-size: 4rem;
	margin: 0;
}

.spinnerContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
