.boundary {
	width: 104vw;
	position: absolute;
	left: -2vw;
	z-index: 5;
	stroke-width: 2px;
	stroke: var(--text-colour);
}

.topBoundary {
	composes: boundary;
	fill: var(--gradient-top);
	top: 0;
	transform: translateY(-95%);
}

.bottomBoundary {
	composes: boundary;
	fill: var(--gradient-bottom);
	bottom: 0;
	transform: rotate(180deg) translateY(-95%);
}
