@font-face {
	font-family: "montserrat";
	src: url(fonts/Montserrat-Bold.otf) format("opentype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "montserrat";
	src: url(fonts/Montserrat-ExtraBold.otf) format("opentype");
	font-weight: bolder;
	font-style: normal;
}

@font-face {
	font-family: "montserrat";
	src: url(fonts/Montserrat-Regular.otf) format("opentype");
}

body {
	--text-colour: #555;
	--gradient-top: #ddd;
	--gradient-bottom: #bbb;
	--background-overlay: rgba(0, 0, 0, 0.1);

	--accent-colour: #43cea2;
	--accent-colour2: #185a9d;
	--photo-text-colour: #fff;
	--photo-background-colour: #555;
}

body.switched-theme {
	--text-colour: #ccc;
	--gradient-top: #666;
	--gradient-bottom: #444;
	--background-overlay: rgba(0, 0, 0, 0.2);
	--photo-text-colour: #ccc;
	--photo-background-colour: #333;
}

@media (prefers-color-scheme: dark) {
	body {
		--text-colour: #ccc;
		--gradient-top: #666;
		--gradient-bottom: #444;
		--background-overlay: rgba(0, 0, 0, 0.2);
		--photo-text-colour: #ccc;
		--photo-background-colour: #333;
	}
	body.switched-theme {
		--text-colour: #555;
		--gradient-top: #ddd;
		--gradient-bottom: #bbb;
		--background-overlay: rgba(0, 0, 0, 0.1);
		--photo-text-colour: #fff;
		--photo-background-colour: #555;
	}
}

html,
body {
	overflow-x: hidden;
	width: 100vw;
	margin: 0;
	padding: 0;
	font-family: "montserrat", sans-serif;
	text-transform: lowercase;
	font-size: 1rem;
	color: var(--text-colour);
}
