.background {
    composes: backgroundImage from "../project_globals.module.css";
    background-position: top left;
    position: relative;
    background-image:  url("../images/Personal_Photo_left2.jpg");
    z-index: 2;
}

@media screen and (orientation: portrait) {
    .background {
        background-position: center;
        background-image: url("../images/Personal_Photo_cropped.jpg" );
    }

    .container {
        width: 100vw;
    }
}

.titleContainer {
    position: absolute;
    top: 30vh;
    right: 30px;
    text-align: center;
    padding-bottom: 1em;
}

.title {
    margin: auto;
    composes: text from "../project_globals.module.css";
    padding: 0.5rem;
    font-size: 5vw;
}

.subtitle {
    composes: text from "../project_globals.module.css";
    font-size: 2vw;
}

.logoContainer {
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 100;
}

.logoText {
    composes: text from "../project_globals.module.css";
    text-decoration: underline;
    font-size: 3rem;
    margin: 0;
}


