.background {
    composes: backgroundImage from "../project_globals.module.css";
    background-position: top left;
}

@media screen and (orientation: portrait) {
    .background {
        background-position: center;
    }

    .container {
        width: 100vw;
    }
}

.container {
    position: fixed;
    bottom: 5vh;
    right: 0;
    text-align: center;
    padding-bottom: 1em;
}

.title {
    margin: auto;
    composes: text from "../project_globals.module.css";
    padding: 0.5rem;
    font-size: 4rem;
}

.subtitle {
    composes: text from "../project_globals.module.css";
    font-size: 1.5rem;
}


