.background {
	composes: backgroundImage from "../project_globals.module.css";
	background-position: top left;
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url("../images/Personal_Photo_left2.jpg");
	z-index: 2;
}

.titleContainer {
	position: absolute;
	top: 30vh;
	right: 30px;
	text-align: center;
	padding-bottom: 1em;
}

.title {
	margin: auto;
	composes: text from "../project_globals.module.css";
	padding: 0.5rem;
	font-size: 5vw;
}

.subtitle {
	composes: text from "../project_globals.module.css";
	font-size: 2vw;
}

@media screen and (max-width: 1200px) {
	.background {
		background-image: linear-gradient(
				rgba(0, 0, 0, 0.1),
				rgba(0, 0, 0, 0.1) 40%,
				rgba(0, 0, 0, 0.6)
			),
			url("../images/Personal_Photo_left2.jpg");
	}

	.titleContainer {
		top: 75vh;
		width: 100vw;
		right: 0;
	}

	.title {
		font-size: 7vw;
	}

	.subtitle {
		font-size: 2.5vw;
		margin: 0;
	}
}

.logoContainer {
	position: fixed;
	left: 20px;
	top: 20px;
	z-index: 100;
}

.logoBackground {
	height: 6rem;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	width: 6rem;
	border-radius: 100%;
	left: -10px;
	bottom: -34px;
}

.logoText {
	composes: text from "../project_globals.module.css";
	text-decoration: underline;
	font-size: 3rem;
	margin: 0;
	position: relative;
}

@media screen and (max-width: 801px) {
	.title {
		font-size: 9vw;
	}

	.subtitle {
		font-size: 3.5vw;
	}
}
