.navbar {
	margin: 0;
	padding: 0;
	position: fixed;
	height: 4rem;
	width: 100%;
}

.list {
	list-style-type: none;
}

.group {
	position: fixed;
	display: inline;
}

.item {
	display: inline;
	padding-top: 0.8em;
}

.leftSide {
	composes: group;
	left: 0;
	margin-top: 0.5em;
	font-size: 1.5rem;
}

.rightSide {
	composes: group;
	right: 0;
}

.link {
	composes: text from "../project_globals.module.css";
	display: inline;
	text-decoration: none;
	padding: 0.5em;
	text-transform: lowercase;
	font-size: 1.5rem;
	cursor:pointer;
	letter-spacing: 0.1em;
	text-shadow: none;
	transition: all .3s ease-in-out;
}

.link:hover {
	color: #43cea2;
	text-shadow: 0 0 .9px #43cea2, 0 0 .9px #43cea2, 0 0 .9px #43cea2;
}

.image {
	height: 1.5em;
	margin-top: 0.4em;
}

.image:hover {
	filter: invert(100%);
}
