html {
	scroll-behavior: smooth;
}

.navbar {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 100%;
	z-index: 3;
}

.list {
	list-style-type: none;
}

.item {
	float: right;
	padding-top: 0.8em;
	cursor: pointer;
}

.link {
	composes: text from "../project_globals.module.css";
	display: inline;
	text-decoration: none;
	padding: 0.5em;
	text-transform: lowercase;
	font-size: 1.5rem;
	cursor:pointer;
	letter-spacing: 0.1em;
	text-shadow: none;
	transition: all .3s ease-in-out;
	height: 5rem;
}

.link:hover {
	color: #43cea2;
	text-shadow: 0 0 .9px #43cea2, 0 0 .9px #43cea2, 0 0 .9px #43cea2;
	font-size: 1.55rem;
}