html {
	scroll-behavior: smooth;
}

.navbar {
	position: absolute;
	right: 60px;
	top: 20px;
	z-index: 3;
}

.navbarToggle {
	display: none;
}

.list {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	position: relative;
}

.item {
	padding-top: 0.8em;
	cursor: pointer;
}

.link {
	color: var(--text-colour);
	text-decoration: none;
	margin: 0.5em;
	font-size: 1.5rem;
	letter-spacing: 0.1em;
	transition: all 0.3s ease-in-out;
}

.link:hover {
	color: var(--accent-colour);
	/* Make text appear bold without changing box size */
	text-shadow: 0 0 0.9px, 0 0 0.9px var(--accent-colour),
		0 0 0.9px var(--accent-colour);
	font-size: 1.55rem;
}

.socialsContainer {
	width: 6rem;
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 1200px) {
	.navbar {
		right: 0;
		top: 0;
		position: absolute;
		z-index: 3;
	}

	.navbarToggle {
		display: inline-block;
		position: absolute;
		right: 90px;
		top: 10px;
		z-index: 20;
	}

	.item {
		float: none;
		display: block;
		margin: 20px 30px;
		text-align: center;
	}

	.list {
		height: 100vh;
		width: 300px;
		right: -300px;
		top: 0;
		padding: 100px 0;
		background-color: rgba(0, 0, 0, 0.6);
		margin: 0;
		transition: all 0.5s ease-in-out;
		flex-direction: column;
	}

	.open {
		right: 0;
	}

	.socialsContainer {
		width: 100%;
		display: flex;
		justify-content: center;
		float: none;
	}
}

@media screen and (max-width: 800px) {
	.list {
		width: 100vw;
		right: -100vw;
	}
}
