.about {
	padding: 2rem;
	padding-bottom: 3rem;
	text-align: center;
	position: relative;
}

.background {
	background-image: linear-gradient(
		var(--gradient-top),
		var(--gradient-bottom)
	);
	z-index: 7;
	position: absolute;
	inset: 0;
}

.text {
	color: var(--text-colour);
	position: relative;
	z-index: 10;
}

.title {
	composes: text;
	font-size: 5rem;
	margin: 0;
	margin-bottom: 1rem;
}

.body {
	composes: text;
	font-size: 1.2rem;
	width: clamp(200px, 50vw, 800px);
	margin: auto;
}
