.work {
	background-color: #787575;
	padding: 1rem;
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 2;
}

.title {
	composes: text from "../project_globals.module.css";
	font-size: 5rem;
	text-align: center;
	margin: 0;
}

.cardContainer {
	/* width: 75vw; */
	/* display: flex;
	flex-wrap: wrap;
	justify-content: center; */
}

.card {
	width: 75vw;
	height: 26vw;
	border-radius: 20px;
	background-color: #999;
	position: relative;
	margin: 3rem auto;
	box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.25);
}

.image {
	height: 20vw;
	width: 20vw;
	position: absolute;
	top: 3vw;
	left: 3vw;
	z-index: 1;
	border-radius: 18px;
	border: 3px solid #787575;
}

.card:nth-child(odd) .image {
	left: auto;
	right: 3vw;
}

.descriptionContainer {
	max-width: 50vw;
	position: absolute;
	top: 3vw;
	right: 3vw;
	text-align: center;
}

.card:nth-child(odd) .descriptionContainer {
	left: 3vw;
	right: auto;
}

.projectName {
	composes: text from "../project_globals.module.css";
	font-size: 3rem;
	margin: 0;
}

.description {
	composes: text from "../project_globals.module.css";
	padding: 1rem 2rem;
	font-size: 1.2rem;
}

.button {
	margin: 2rem;
}
