.background {
    composes: backgroundImage from "./project_globals.module.css";
    background-image: url(images/Personal_Photo_cropped.jpg);
    background-position: center;
}

.aboutMe {
    composes: background;
}

@media screen and (orientation: landscape) {
    .background {
        composes: backgroundImage from "./project_globals.module.css";
        background-image: url(images/Personal_Photo_gradient.jpg);
        background-position: left top;
    }
}

.container {
    position: fixed;
    bottom: 5vh;
    right: 0;
    text-align: center;
    padding-bottom: 1em;
}

.title {
    margin: auto;
    composes: text from "./project_globals.module.css";
    padding: 0.5rem;
    font-size: 4rem;
}

.subtitle {
    composes: text from "./project_globals.module.css";
    font-size: 1.5rem;
}
