.background {
    composes: backgroundImage from "./project_globals.module.css";
    background-image: url(images/mtwellington.jpeg);
    background-position: center;
}

.contact {
    composes: background;
}

.contactForm {
    composes: centerVertically from "./helpers.module.css";
    composes: transparentBackground from "./project_globals.module.css";
    width: 60%;
    max-width: 600px;
    margin: 0 auto;
}

.label {
    composes: text from "./project_globals.module.css";
    margin: 0.5rem 0;
}

.inputGroup {
    width: 46%;
    padding: 0.5rem;
    display: inline-grid;
}

.wideGroup {
    composes: inputGroup;
    width: 100%;
}

.textInput {
    width: 100%;
    background-color: #eee;
}

.textArea {
    composes: textInput;
    position: relative;
    width: 94%;
    resize: vertical;
}

.buttonContainer {
    height: 3rem;
    width: 94%;
    margin: 1rem;
}

.submit {
    float: right;
}
