#contact {
    position: relative;
    top: 100vh;
}

.contactForm {
    width: 60%;
    margin: 0 auto;
    padding: 10vh 0;
}

.label {
    composes: text from "./project_globals.module.css";
}

.inputGroup {
    width: 50%;
    padding: 0 0.5em;
    display: inline-grid;
}

.textInput {
    width: 100%;
    background-color: #eee;
}

.submit {
    width: 100%;
    margin: 1em 0;
}
