.background {
    composes: backgroundImage from "./project_globals.module.css";
    background-image: url(images/amalficoast.jpeg);
    background-position: center;
}

.experience {
    composes: background;
}

.container {
    composes: transparentBackground from "./project_globals.module.css";
    composes: centerVertically from './helpers.module.css';
    margin: 0 auto;
    width: 60%;
    max-width: 800px;
    padding: 1rem 0;
}

.itemContainer {
    cursor: pointer;
    margin: 0.5rem;
    height: 100%;
}

.titleContainer {
    width: 95%;
    float: left;
    margin-left: 1rem;
}

.title {
    composes: text from './project_globals.module.css';
    margin: 0;
    margin-top: 1rem;
    font-size: 1.25rem;
    text-align: center;
}

.descriptionContainer {
    width: 95%;
    padding: 1rem;
    display: inline-block;
    text-align: center;
    transition: padding .5s;
}

.descriptionContainerHidden {
    composes: descriptionContainer;
    padding: 0.1rem;
    transition: padding .5s;
}

.descriptionHidden {
    display: none;
}

.description {
    composes: text from './project_globals.module.css';
    font-size: 0.9rem;
}

.line {
    composes: text from './project_globals.module.css';
    width: 90%;
    margin: auto;
}
