.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
}

.navbar-item, .navbar-group {
    display: inline;
}

.navbar-item {
    padding-top: 0.8em;
}

.navbar-left {
    float: left;
    margin-top: 0.5em;
}

.navbar-right {
    float: right;
}

.navbar-link {
    display: inline;
    color: #FFF;
    text-decoration: none;
    padding:2em;
}

.navbar-link:hover {
    background-color: #444;
}


.navbar-image {
    height: 2em;
}
