.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-item, .navbar-group {
    display: inline;
}

.navbar-item {
    padding-top: 0.8em;

}

.navbar-left {
    float: left;
    margin-top: 0.5em;
}

.navbar-right {
    float: right;
}

.navbar-link {
    display: inline;
    text-decoration: none;
    padding:0.5em;
    text-transform: lowercase;
    color: #666;
}

.navbar-link:hover {
    color: black;
    font-weight: 900;
}


.navbar-image {
    height: 1.5em;
    margin-top: 0.4em;
}

.navbar-image:hover {
    filter: invert(100%);
}
