.background {
    composes: backgroundImage from "./project_globals.module.css";
    background-image: url(images/hillsborough.jpeg);
    background-position: center;
}
.projects {
    composes: background;
}

.boxesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
    top: 10vh;
    max-height: 90vh;
}

.boxesContainer::-webkit-scrollbar {
    width: 0px;
}

.container {
    height: 300px;
    width: 300px;
    position: relative;
    margin: 1rem;
    overflow: hidden;
    cursor: pointer;
}

.image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.descriptionContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 3;
    transition: opacity .5s;
}

.descriptionContainerHover {
    composes: descriptionContainer;
    composes: transparentBackground from "./project_globals.module.css";
    opacity: 1;
    transition: opacity .5s;
}

.description {
    composes: text from "./project_globals.module.css";
    padding: 1rem 2rem;
}
