@font-face {
	font-family: "montserrat";
	font-display: swap;
	src: url(fonts/Montserrat-Regular.otf) format("opentype");
}

body {
	--text-colour: #555;
	--gradient-top: #ddd;
	--gradient-bottom: #bbb;
	--accent-colour: #43cea2;
	--photo-text-colour: #eee;
}

body.switched-theme {
	--text-colour: #ccc;
	--gradient-top: #666;
	--gradient-bottom: #444;
}

@media (prefers-color-scheme: dark) {
	body {
		--text-colour: #ccc;
		--gradient-top: #666;
		--gradient-bottom: #444;
	}
	:global(body.switched-theme) {
		--text-colour: #555;
		--gradient-top: #ddd;
		--gradient-bottom: #bbb;
	}
}

html,
body {
	overflow-x: hidden;
	width: 100vw;
	margin: 0;
	padding: 0;
	font-family: "montserrat", sans-serif;
	text-transform: lowercase;
	font-size: 1rem;
	color: var(--text-colour);
}
